<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Изменение пользователя</h1>
<form th:method="PATCH" th:action="@{/lesson/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{userName}" id="name"/><br>
    <label for="lastName">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/><br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/><br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/><br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/><br>
    <p>
        <label>Roles:
            <input type="checkbox" id="roles" th:each="role: ${roles}"
                   th:text="${role.role}"
                   th:value="${role.id}"
                   th:field="*{roles}"/>
        </label>
    </p>
    <input type="submit" value="Update!"/>

</form>
<br>
<hr/>
<a href="/lesson/admin"><h3>Все пользователи</h3></a>
</body>
</html>