<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>pp3.1.4</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body style="background: var(--light);">
<section class="d-flex flex-column justify-content-xl-center position-relative py-4 py-xl-5">
    <div class="container d-flex flex-column justify-content-xl-center position-relative">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4 d-flex flex-column" id="login-col">
                <h2 class="font-weight-bold d-flex d-xl-flex justify-content-xl-start" id="login-head">Please sign
                    in</h2>
                <form id="login-form" method="post">
                    <div><input class="form-control" type="email" name="email " placeholder="Email address"></div>
                    <div><input class="form-control" type="password" name="password" placeholder="Password"></div>
                    <div id="login-div" class="mb-3">
                        <button class="btn btn-primary d-block w-100" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>